body { 		
	background-image: url("images/background.png");
    background-attachment: fixed;
}
#para1 {
	text-align: center;
    color: blue;
    font-size: 20px;
}
#head1 {
	text-align: center;
	color: white;
	padding-right: 0px;
	padding-left: 0px;
}